/* Base Style */
body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font: inherit;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  background-color: #fff;
}

/* 유연한 미디어 */
img {
  /* 이미지는 깨지지 않게 하기 위해 원본이상을 늘어나지 않도록 하기 위해서 max-width 100% 즉 자기자신의 원본보다 안커지게 하는 것 */
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}
